@import './mixins';
@import './variables';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: font(primary);
  background-color: color(primary-1);
  color: color(primary-2);
  box-sizing: border-box;
}


#overlap {
  display: none;
}

#scrollDirection{
  width: 0.1rem;
  height: 5rem;
  background-color: #f5f5f5;
  margin: 0 auto;
  position: relative;
  div{
    width: 100%;
    height: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: color(accent);
    animation-name: scrollDirection;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    // animation-direction: ;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
@keyframes scrollDirection {
  from {top: 0;}
  to {top: 3rem; opacity: 0;}
}


