@import './mixins';
@import './variables';

.home{
  width: 100%;
  .overlap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100 !important;
    background-color: color(primary-1);
    @include flexStyle(column, center, center);
    .animateOne{
      width: 80%;
      margin: 0 auto;
      @include flexStyle(column, center, center);
    }
    .animateTwo{
      width: 80%;
      margin: 0 auto;
      @include flexStyle(column, center, center);
      display: none;
    }
   .overlapFooter{
      position: absolute;
      top: 90%;
      font-size: 0.8rem;
      font-weight: bold;
   }
  }
  header{
    height: 90vh;
    @include container(85%);
    @include flexStyle(column, center, flex-start);
    padding: 4rem 0 0 0;
    .headerHeader {
      position: relative;
      div{
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: color(secondary-1);
      }
      h1{
        font-family: font(secondary);
        font-size: 1.8rem;
        color: color(accent);
        position: relative;
        top: 3rem;
        left: 3rem;
        display: inline;
        z-index: 1;
      }
    }
    .headerBody{
      padding: 4rem 0 2rem 0;
      p{
        padding: 1rem 0;
        font-size: 0.8rem;
        font-weight: 600;
        span{
          letter-spacing: 0.05rem;
          color: color(accent);
        }
      }
    }
  }
  main {
    width: 100%;
    padding: 4rem 0 0 0;
    @include flexStyle(column, center, center);
    

    .navigatorWrapper{
      @include container(85%);
      margin: 2rem 0;
      position: sticky;
      top: 5vh;
      z-index: 100;
      div{
        padding: 1em;
        font-weight: bold;
        @include flexStyle(row, space-between, center);
        font-size: 0.7rem;
        border-radius: 15px;
        background-color: color(primary-3);
        span{
          opacity: 0.5;
          &:nth-child(1){
            background-color: color(primary-1);
            padding: 1em;
            opacity: 1;
            border-radius: 10px;
          }
        }
      }
    }


    .resume{
      width: 100%;
      background-image: url('../public/images/resume.webp');
      background-size: cover;
      background-repeat: no-repeat;
      .resumeWrapper{
        @include container(85%);
        .resumeHeader{
          position: relative;
          margin: 1rem 0;
          div{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background-color: color(secondary-2);
          }
          h2{
            font-family: font(secondary);
            font-size: 1.5rem;
            color: color(accent);
            position: relative;
            top: 1rem;
            left: 2rem;
            display: inline;
            z-index: 1;
          }
        }
        .resumeBody{
          @include flexStyle(column, center, center);
          @include container(85%);
          .education{
            padding: 2rem 0 0 0;
            width: 100%;
            .educationHeader{
              color: color(accent);
              b{
                font-family: font(secondary);
                font-weight: bold;
                text-align: center;
              }
              span{
                font-size: 0.8rem;
                font-weight: bold;
              }
            }
            .educationBody{
              margin-top: 0.8rem;
              font-size: 0.7rem;
              background-color: color(primary-3);
              padding: 1.5em;
              border-radius: 10px;
              color: color(accent);
              div{
                li{
                  padding: 0.5rem 0;
                  list-style: none;
                  font-weight: bold;
                  @include flexStyle(row, flex-start, center);
                  &::before{
                    content: "\2022";
                    color: color(secondary-1);
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    font-size: 2em;
                  }
                  &:nth-child(1){
                    padding-top: 0;
                  }
                }
                i{
                  font-weight: 600;
                }
                &:nth-child(2){
                  margin-top: 1rem;
                }
              }
            }
          }
          .frontend{
            padding: 2rem 0 0 0; 
            width: 100%;
            .frontendHeader{
              color: color(accent);
              padding: 0;
              b{
                font-family: font(secondary);
                font-weight: bold;
                text-align: center;
              }
              span{
                font-size: 0.8rem;
                font-weight: bold;
              }
            }
            small{
              font-size: 0.5rem;
              text-align: left;
              font-weight: bold;
              color: color(accent);
              letter-spacing: 0.2em;
            }
            .frontendBody{
              margin-top: 0.8rem;
              font-size: 0.7rem;
              background-color: color(primary-3);
              padding: 1.5em;
              border-radius: 10px;
              color: color(accent);
              li{
                list-style: none;
                font-weight: bold;
                @include flexStyle(row, flex-start, center);
                &::before{
                  content: "\2022";
                  color: color(secondary-1);
                  font-weight: bold;
                  display: inline-block;
                  width: 1em;
                  font-size: 2em;
                }
              }
            }
          }
          .tools{
            @extend .frontend;
            .toolsHeader{
              @extend .frontendHeader;
            }
            .toolsBody{
              @extend .frontendBody;
            }
          }
          .workexp{
            @extend .frontend;
            .workexpHeader{
              @extend .frontendHeader;
            }
            .workexpBody{
              width: 100%;
              @include flexStyle(column, center, flex-start);
              .workdets{
                @extend .frontendBody;
                div{
                  @include flexStyle(row, space-between, center);
                  padding: 0.5rem 0;
                  p{
                    font-weight: bold;
                    width: 70%;
                  }
                  span{
                    width: 30%;
                    padding: 0.5em;
                    font-size: 0.5rem;
                    font-weight: bold;
                    background-color: color(secondary-1);
                    border-radius: 10px;
                    text-align: center;
                  }
                }
                h3{
                  text-transform: uppercase;
                  font-size: 0.8rem;
                  opacity: 0.8;
                }
              }
            }
          }
        }
        .resumeDownload{
          @include flexStyle(row, flex-start, center);
          @include container(80%);
          padding: 3rem 0 0 0 ;
          font-size: 0.7rem;
          font-weight: bold;
          text-decoration: none !important;
          color: color(accent);
          .arrowLong{
            padding-left: 0.5em;
            color: color(secondary-1);
          }
        }
      }
    }
    .work{
      height: 100vh;
      width: 100%;
    }
    .about{
      @extend .resume;
      background-position: center 0;
      margin-top: 4rem;
      .aboutWrapper {
        @extend .resumeWrapper;
        .aboutHeader{
          @extend .resumeHeader;
          div{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background-color: color(secondary-3);
          }
          h2{
            font-family: font(secondary);
            font-size: 1.5rem;
            color: color(accent);
            position: relative;
            top: 1rem;
            left: 2rem;
            display: inline;
            z-index: 1;
          }
        }
        .aboutBody{
          @extend .resumeBody;
          .who{
            @extend .education;
            .whoHeader{
              @extend .educationHeader;
              margin-top: 1em;
              b{
                font-family: font(secondary);
                font-weight: bold;
                text-align: center;
              }
              span{
                font-size: 0.9rem;
                font-weight: bold;
              }
            }
            .whoImage{
              @include container(10rem);
              margin: 1rem auto;
              height: 10rem;
              background-image: url('../public/images/me.webp');
              background-size: cover;
            }
            .whoBody{
              @include flexStyle(column, space-between, center);
              p{
                width: 100%;
                font-size: 0.7rem;
                word-spacing: 0.1em;
                font-weight: 600;
                color: color(accent);
                padding: 0.8em 0;
                span{
                  color: color(secondary-3);
                  padding: 1em 0;
                  display: inline-block;
                  font-size: 0.6rem;
                  font-weight: 900;
                }
              }
            }
          }
          .passion{
            @extend .who;
            position: relative;
            background-image: url('../public/images/passion.webp');
            background-size: contain;
            background-position: 100% center;
            background-repeat: no-repeat;
            .passionHeader{
              @extend .whoHeader;
            }
           
            .passionBody{
              @extend .whoBody;
              word-spacing: 0;
              p{
                width: 100%;
                font-size: 0.7rem;
                word-spacing: 0.1em;
                font-weight: 600;
                color: color(accent);
                padding: 0.8em 0;
              }
            }
          }
          .more{
            @extend .who;
            .moreHeader{
              @extend .whoHeader;
            }
           
            .moreBody{
              @extend .whoBody;
              p{
                width: 100%;
                font-size: 0.7rem;
                word-spacing: 0.1em;
                font-weight: 600;
                color: color(accent);
                padding: 0.8em 0;
              }
            }
          }
        }
      }
    }
    .contact{
      @extend .resume;
      margin-top: 4rem;
      .contactWrapper{
        @extend .resumeWrapper;
        .contactHeader{
          @extend .resumeHeader;
          div{
            background-color: color(secondary-1);
          }
        }
        .contactBody{
          @extend .resumeBody;
          @include flexStyle(column, center, flex-start);
          h4{
            @extend .educationHeader;
            color: color(accent);
            margin-top: 2em;
            b{
              font-family: font(secondary);
              font-weight: bold;
              text-align: center;
            }
            span{
              font-size: 0.9rem;
              font-weight: bold;
            }
          }
          h6{
            @extend .educationHeader;
            color: color(accent);
            margin-top: 2em;
            b{
              font-family: font(secondary);
              font-weight: bold;
              text-align: center;
            }
            span{
              font-size: 0.9rem;
              font-weight: bold;
            }
          }
          p{
            width: 100%;
            font-size: 0.7rem;
            word-spacing: 0.1em;
            font-weight: 600;
            color: color(accent);
            padding: 0.8em 0;
          }
          .handles{
            width: 100%;
            @include flexStyle(column, center, flex-start);
            span{
              @include flexStyle(row, space-between, center);
              width: 100%;
              padding: 1em 0;
              a{
                width: 30%;
                padding: 0.8em;
                font-size: 1rem;
                background-color: #ffffff;
                @include flexStyle(column, center, center);
                border-radius: 10px;
                &:nth-child(1){
                  color: #36B7C9;
                }
                &:nth-child(2){
                  color: #34B034;
                }
                &:nth-child(3){
                  color: color(accent);
                }
              }
            }
          }
          .message{
            width: 100%;
            h6{
              position: relative;
              width: fit-content;
              &::after{
                content: '';
                width: 1.2rem;
                height: 1rem;
                border: 2px solid color(accent);
                border-left: none;
                border-bottom: none;
                border-radius: 100%;
                border-bottom-right-radius: 0;
                border-top-left-radius: 0;
                position: absolute;
                top: 38%;
                right: -1.8rem;
              }
            }
            .messageBox{
              padding: 1em 0;
              width: 100%;
              input{
                margin: 1em 0;
                padding: 1em;
                font-family: font(secondary);
                width: 100%;
                border: none;
                border-radius: 10px;
              }
              textarea{
                margin: 1em 0;
                padding: 1em;
                font-family: font(secondary);
                width: 100%;
                border: none;
                border-radius: 10px;
                resize: none;
              }
              button{
                padding: 1em;
                font-family: font(secondary);
                width: 100%;
                border: none;
                border-radius: 10px;
                background-color: color(secondary-1);
                color: color(accent);
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}